<footer>
	<div class="footer-section bg-primary font-italic fw-light font-size-14 text-white">
	  <div class="container">
		<div class="row">
		  <div class="col-sm-3 footer-logo col-12">
			<picture>
			  <source
				type="image/webp"
				srcset="./assets/img/LEO logo.webp"
			  />
			  <source type="image/png" srcset="./assets/img/LEO logo" />
			  <img src="./assets/img/LEO logo.webp" alt=""  width="90px" height="90px"/>
			</picture>
		  </div>
		  <div
			class="col-sm-9 text-end col-12">
			<p class="float-end footer-description">
			  © Copyright LEO Pharma 2020 LEO and the LEO Lion Design are
			  registered trademarks of LEO Pharma
			</p>
			<div class="clearfix"></div>
			<p class="float-end  text-xs-center">
			   All rights reserved
			</p>
		  </div>
		</div>
		<div class="footer-list-wrap">
			<ul class="footer-list">
			  <li>
				  <a href="#">Contact</a>
			  </li>
			  <li>
				  <a href="#">Imprint</a>
			  </li>
			  <li>
				  <a href="#">Conditions</a>
			  </li>
			  <li>
				  <a href="#">Terms of use</a>
			  </li>
			  <li>
				  <a href="#">Privacy</a>
			  </li>
			  <li>
				  <a href="#">Cookie content</a>
			  </li>
			</ul>
			<div class="text-xs-center">
				<a href="#" class="text-white">
				  LEO Pharma corporate website
				</a>
			</div>
		</div>
	  </div>
	</div>
  </footer>