<a class="visually-hidden-focusable text-secondary" href="#content"
  >Skip to main content</a
>

<header class="header">
  <nav class="navigation-container">
    <div
      class="container"
      aria-label="Main Navigation"
      id="navigationContainer"
    >
      <div class="row align-items-center">
        <div class="col-2 toggle-menu-wrap">
          <button class="toggle-menu" onClick="toggleMenu()">
            <span class="visually-hidden">Toggle Menu </span>
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="col-sm-8 col-6">
          <a
            href="/"
            class="header-logo"
            title="Go to home page"
            aria-label="Derma World"
          >
            <img src="./assets/img/DermaWorld.svg" alt="Derma World Logo" />
          </a>
        </div>
        <div class="col-sm-4 col-4 header-search" id="headerSearch">
          <input type="text" placeholder="Search.." name="Search Derma World" />
          <button type="submit" onclick="toggleSearch()">
            <svg>
              <use xlink:href="#icon-search"></use>
            </svg>
            <span class="visually-hidden">Search</span>
          </button>
          <button type="submit" class="search-xs">
            <svg>
              <use xlink:href="#icon-search"></use>
            </svg>
            <span class="visually-hidden">Search</span>
          </button>
        </div>
      </div>

      <ul class="main-nav" id="mainNav" aria-label="Main Navigation">
        <li class="main-list-item">
          <a href="javascript:void(0)">Behandlungen</a>
        </li>
        <li class="main-list-item has-subitems">
          <a
            href="javascript:void(0)"
            aria-expanded="false"
            aria-haspopup="true"
            class="subitems-toggle"
            >Behandlungen</a
          >
          <div class="sub-list-container">
            <ul class="submenu-list container">
              <li class="main-list-item has-subitems">
                <a
                  href="javascript:void(0)"
                  aria-expanded="false"
                  aria-haspopup="true"
                  class="subitems-toggle"
                >
                  Adtralza
                </a>
                <div class="sub-list-container">
                  <ul class="submenu-list container">
                    <li class="main-list-item">
                      <a href="javascript:void(0)">Overview</a>
                    </li>
                    <li class="main-list-item">
                      <a href="javascript:void(0)">Mode of Action</a>
                    </li>
                    <li class="main-list-item">
                      <a href="javascript:void(0)">Efficacy</a>
                    </li>
                    <li class="main-list-item">
                      <a href="javascript:void(0)">Quality of Life</a>
                    </li>
                    <li class="main-list-item">
                      <a href="javascript:void(0)">Safety</a>
                    </li>
                    <li class="main-list-item">
                      <a href="javascript:void(0)">Dosing</a>
                    </li>
                    <li class="main-list-item">
                      <a href="javascript:void(0)">News</a>
                    </li>
                    <li class="main-list-item">
                      <a href="javascript:void(0)">Technical Information</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="main-list-item">
                <a href="javascript:void(0)"> Diavonex </a>
              </li>
              <li class="main-list-item">
                <a href="javascript:void(0)"> Diavobet </a>
              </li>
              <li class="main-list-item">
                <a href="javascript:void(0)"> Enstilar </a>
              </li>
              <li class="main-list-item">
                <a href="javascript:void(0)"> Fucidin </a>
              </li>
              <li class="main-list-item">
                <a href="javascript:void(0)"> Kyntheum </a>
              </li>
              <li class="main-list-item">
                <a href="javascript:void(0)"> Protopic </a>
              </li>
              <li class="main-list-item">
                <a href="javascript:void(0)"> Skinoren </a>
              </li>
              <li class="main-list-item">
                <a href="javascript:void(0)"> Tralokinumab </a>
              </li>
              <li class="main-list-item">
                <a href="javascript:void(0)"> Xamiol </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="main-list-item has-subitems">
          <a
            href="javascript:void(0)"
            aria-expanded="false"
            aria-haspopup="true"
            class="subitems-toggle"
            >Veranstaltungen</a
          >
          <div class="sub-list-container">
            <ul class="submenu-list container">
              <li class="main-list-item">
                <a href="javascript:void(0)"> Veranstaltungen 1 </a>
              </li>
              <li class="main-list-item">
                <a href="javascript:void(0)"> Veranstaltungen 1 </a>
              </li>
              <li class="main-list-item">
                <a href="javascript:void(0)"> Veranstaltungen 1 </a>
              </li>
              <li class="main-list-item">
                <a href="javascript:void(0)"> Veranstaltungen 1 </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="main-list-item">
          <a href="javascript:void(0)">Werkzeuge</a>
        </li>
        <li class="main-list-item">
          <a href="javascript:void(0)">Forschung und Erkenntnisse</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
