<section>
  <div class="how-works bg-gray-light main-section">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-6 col-md-6 col-lg-5 col-xl-4 how-it-works-image">
          <picture>
            <source
              type="image/webp"
              srcset="./assets/img/adtralza-packshot-gebaut-01 2.webp"
            />
            <source
              type="image/jpeg"
              srcset="./assets/img/adtralza-packshot-gebaut-01 2.jpg"
            />
            <img
              src="./assets/img/adtralza-packshot-gebaut-01 2.webp"
              alt=""
            />
          </picture>
        </div>
        <div
          class="col-sm-6 col-md-6 col-lg-7 col-xl-6 how-it-works-details fw-light font-italic"
        >
          <div class="">
            <h2 class="text-primary font-size-28">
              It is the first and only biologic developed to specifically
              neutralize IL-13, a key driver of atopic dermatitis signs and
              symptoms(1,2)
            </h2>
            <a
              href="#"
              class="text-black mt-4 font-size-18 text-decoration-none"
            >
              Learn more about how Adtralza® works and how to use it in
              treatment.
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
