<section>
    <div class="main-banner">
      <div class="main-banner-image">
        <picture>
          <source
            type="image/webp"
            srcset="./assets/img/main-banner.webp"
          />
          <source
            type="image/jpeg"
            srcset="./assets/img/main-banner.jpg"
          />
          <img src="./assets/img/main-banner.webp" alt="" />
        </picture>
      </div>

      <div class="main-banner-content">
        <div class="container">
          <img src="./assets/img/Adtralza global.png" alt="" />
          <h2 class="main-banner-text">
            Adtralza® is a new treatment for adult patients with
            <br />
            moderate-to-severe atopic dermatitis (eczema) who are candidates
            for systemic therapy.
          </h2>
        </div>
      </div>
    </div>
  </section>
