<section>
    <div class="more-info fw-light font-italic text-center main-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="more-info-icon">
              <svg class="icon icon-lg">
                <use xlink:href="#icon-9of10"></use>
              </svg>
            </div>
            <div class="more-info-details">
              <h3 class="more-info-title text-primary font-size-20">
                Long term sustained improvement
              </h3>
              <p class="more-info-description text-black">
                9 out of 10 respondents experienced sustained disease control
                in clinical trials 10, providing sustained improvements in the
                burden of disease(1,2, 1, 8*†‡).
              </p>
              <a href="#" class="text-secondary text-decoration-none"
                >See efficacy and trial data</a
              >
            </div>
          </div>
          <div class="col-sm-4">
            <div class="more-info-icon">
              <svg class="icon icon-lg">
                <use xlink:href="#icon-hand-heart"></use>
              </svg>
            </div>
            <div class="more-info-details">
              <h3 class="more-info-title text-primary font-size-20">
                Improvements in the burden of disease
              </h3>
              <p class="more-info-description text-black">
                Patients in clinical trials saw an improvement in Quality of
                Life with early symptom relief and sustained improvements in
                burden of disease from week 16 to 32(12,13).
              </p>
              <a href="#" class="text-secondary text-decoration-none"
                >Learn more about quality of life improvements</a
              >
            </div>
          </div>
          <div class="col-sm-4">
            <div class="more-info-icon">
              <svg class="icon icon-lg">
                <use xlink:href="#icon-hand-sheild"></use>
              </svg>
            </div>
            <div class="more-info-details">
              <h3 class="more-info-title text-primary font-size-20">
                Good safety profile
              </h3>
              <p class="more-info-description text-black">
                The overall frequency and severity of adverse events with
                Adtralza® were comparable to placebo at 16 weeks* and 52
                weeks(19).
              </p>
              <a href="#" class="text-secondary text-decoration-none"
                >See safety profile
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
