<div class="bg-gray-medium mt-2 py-4">
  <div class="container">
    <button class="border-0 p-0 bg-transparent btn collapse-toggle-btn">
      <svg class="icon icon-sm">
        <use xlink:href="#icon-arrow-down"></use>
      </svg>
      <span class="text-primary font-size-24 fw-light font-italic ms-4"
        >Refrences</span
      >
    </button>
    <div class="collapsed-list">
      <ul>
        <li>Source 1 </li>
        <li>Source 1 </li>
        <li>Source 1 </li>
        <li>Source 1 </li>
        <li>Source 1 </li>
        <li>Source 1 </li>
        <li>Source 1 </li>
      </ul>
    </div>
  </div>
</div>
