<section>
    <div class="videos-insights bg-gray-light fw-light font-italic main-section">
      <div class="container">
        <h2 class="text-primary font-size-28 mb-2">
          KOL Videos - get expert insights here
        </h2>
        <p class="text-black mb-5">
          See what Key opinion leaders have to say about their experiences
          with Adtralza®
        </p>
        <div class="row flex-wrap">
          <div class="col-sm-6 video-insights-item">
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="videos-insights-image">
                  <button class="play-icon">
                    <svg class="icon icon-sm">
                      <use xlink:href="#icon-play"></use>
                    </svg>
                    <span class="visually-hidden">Play Video Title Video</span>
                  </button>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="text-primary mb-2">Video Title</div>
                <p class="text-black">
                  Short description of the contents or subject of the video.
                  You can upload a screen from the video as thumbnail image
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 video-insights-item">
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="videos-insights-image">
                  <button class="play-icon">
                    <svg class="icon icon-sm">
                      <use xlink:href="#icon-play"></use>
                    </svg>
                    <span class="visually-hidden">Play Video Title Video</span>
                  </button>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="text-primary mb-2">Video Title</div>
                <p class="text-black">
                  Short description of the contents or subject of the video.
                  You can upload a screen from the video as thumbnail image
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 video-insights-item">
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="videos-insights-image">
                  <button class="play-icon">
                    <svg class="icon icon-sm">
                      <use xlink:href="#icon-play"></use>
                    </svg>
                    <span class="visually-hidden">Play Video Title Video</span>
                  </button>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="text-primary mb-2">Video Title</div>
                <p class="text-black">
                  Short description of the contents or subject of the video.
                  You can upload a screen from the video as thumbnail image
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 video-insights-item">
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="videos-insights-image">
                  <button class="play-icon">
                    <svg class="icon icon-sm">
                      <use xlink:href="#icon-play"></use>
                    </svg>
                    <span class="visually-hidden">Play Video Title Video</span>
                  </button>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="text-primary mb-2">Video Title</div>
                <p class="text-black">
                  Short description of the contents or subject of the video.
                  You can upload a screen from the video as thumbnail image
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>