<section>
    <div class="bg-gray-light video-section fw-light font-italic main-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-6 text-black">
            <h2 class="text-primary font-size-28 mb-5">
              Adtralza® neutralizes IL-13, a key driver of Atopic Dermatitis
              signs and symptoms.
            </h2>
            <p>
              By specifically targeting the IL-13 cytokine, Adtralza® inhibits
              the interaction with type II receptors and prevents
              IL-13-induced inflammatory responses in the skin(1,2).
            </p>
            <p>
              Adtralza® selectively modulates the dysregulated immune system
              by(1):
            </p>
            <ul class="dashed-list">
              <li>Reducing markers of skin inflammation</li>
              <li>Improving markers of skin barrier integrity</li>
              <li>Reducing epidermal thickness</li>
            </ul>

            <button class="btn btn-secondary mt-4 mb-2">
              Watch the Video
              <span class="visually-hidden">
                  for adtralza neutralizes IL-13, a key driver of Atopic Dermatitis
                  signs and symptoms
              </span>
            </button>
            <span class="d-block">Duration:2:45</span>
          </div>
          <div class="col-sm-6 video-image">
            <picture>
              <source
                type="image/webp"
                srcset="./assets/img/video-image.webp"
              />
              <source
                type="image/jpeg"
                srcset="./assets/img/video-image.jpg"
              />
              <img src="./assets/img/video-image.webp" alt="" />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </section>